.container {
    align-items: center;
    background-color: var(--dark-blue);
    border-bottom: 2px solid var(--white) ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem 2rem;

    height: var(--navbar-height);
    width: auto;
}

.logo {
    height: auto;
    width: 8rem;
}

.navItems {
    align-items: center;
    display: none;
    flex-direction: row;
    justify-content: center;
   
    gap: 3rem;

    height: auto;
    width: 566px;
}

.item {
    color: var(--white);
    font-size: 1rem;
    text-align: center;

    height: auto;
    width: 6rem;
}

.contact {
    display: none;
    justify-content: flex-end;
    
    height: auto;
    width: 8rem;
}

.menuNavigation {
    display: flex;
}

.menuButton {
    background-color: transparent;
    border: none;
    opacity: 100%;
    transition: 0.2s;
}

.menuButton:hover {
    cursor: pointer;
    opacity: 70%;
}

.navDropdown {
    align-items: stretch;
    border-bottom: 2px solid var(--white);
    display: flex;
    flex-direction: column;
    
    height: auto;
    width: 100%;
}

.dropdownItem {
    align-items: center;
    align-content: center;
    border: 1px solid var(--dark-blue-lighter);
    box-sizing: border-box;
    color: var(--white);
    display: flex;
    font-size: 1.5rem;
    justify-content: center;
    
    height: 3rem;
    width: 100%;
}

@media screen  and (min-width: 700px) {
    .navItems {
        display: flex;
    }

    .contact {
        display: flex;
    }

    .menuNavigation {
        display: none;
    }
}