.container {
    align-items: center;
    background: var(--dark-blue);
    bottom:0px;
    display: flex;
    flex-direction: row;
    gap: auto;
    justify-content: space-between;
    padding: 0.5rem 2rem;
    z-index: 30;
    
    height: var(--footer-height);
    width: auto;
   
}

.up { 
    opacity: 100%;
    transition: 0.2s;
}

.up:hover {
    opacity: 70%;
    cursor: pointer;
}

.email {
    color: var(--white);
    font-size: 1rem;
    display: none;
}

.socials {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;

    height: auto;
    width: auto;

}

.socialItem {
    opacity: 100%;
    transition: 0.2s;
}

.socialItem:hover {
    opacity: 70%;
}

@media screen  and (min-width: 400px) {
    .email {
        display: flex;
    }
}