html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Inter, IBMPlexSans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
pre {
  margin: 0;
}


:root {
  --dark-blue: #2A0961;
  --white: #F8F4FF;

  --sidebar-length: 20rem;
  --navbar-height: 2rem;
  --footer-height: 4rem;
}
