html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Inter, IBMPlexSans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif;
  height: 100%;
  }

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
pre {
  margin: 0;
}


:root {
  /* Uses for gradiant */
  --dark-blue: #051073;
  --dark-blue-lighter: #2D1E8F;
  --light-blue: #978BDF;
  
  --white: #F8F4FF;
  --white-hover: #d4c1f7;

  --sidebar-length: 20rem;
  --navbar-height: 2rem;
  --footer-height: 4rem;
}
